@model SignInViewmodel


@{
    ViewData["Title"] = "SignIn";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="SignIn">
			<div asp-validation-summary="ModelOnly"></div>
			<input class="text email" asp-for="Email" placeholder="Email" required="">
			<input class="text mb-2" asp-for="Password" placeholder="Password" required="">
			<div class="wthree-text">
				<label class="anim">
					<input type="checkbox" asp-for="RememberMe" class="checkbox" required="">
					<span>Remember me ?</span>
				</label>
				<div class="clear"> </div>
			</div>
			<input type="submit" value="SIGNIN">
		</form>
		<p>If you dont have account .  <a asp-action="SignUp"> Register Now!</a></p>
	</div>
</div>



@section ValidationScrips {
	<partial name="_ValidationScriptsPartial" />
}
