@model DepartmentViewModel

@{
    ViewData["Title"] = "Create";
    ViewBag.Action = "Create";
}


<div calss ="row justify-content align-items-center flex-column  ">

<h1 class=" col-6 my-4">Create New Department </h1>

    <partial name="Partial/CreateEditDepartmentInputsPartial" />

</div>


@section ValidationScrips{
    <partial name="_ValidationScriptsPartial" />
}

