@model DepartmentViewModel

@{
    ViewData["Title"] = "Create";
    ViewData["Action"] = "Create";
}


<h1 class="text-center my-4">Create New Department </h1>
<div calss ="row justify-content align-items-center flex-column  ">


    <partial name="Partial/CreateEditDepartmentInputsPartial"  />

</div>


@section ValidationScrips{
    <partial name="_ValidationScriptsPartial" />
}

