@model DepartmentDetailsDto

@{
    ViewData["Title"] = "Delete";
    ViewData["Id"] = @Model.Id;

}

<h1>Are You Sure To Delete Department ?</h1>


<br />
<br />

<partial name="Partial/CreateEditDepartmentInputsPartial" />




