@model DepartmentDetailsDto 




<h1>Depratment  Details</h1>

@{
    ViewData["Title"] = "Details";
    <!--ViewBag.Action = "";-->
    ViewData["Id"] = Model.Id;
}

<h1>Department Details</h1>

<br />
<br />

<partial name="Partial/DetailsDeleteDepartmentPartial" />
  