@model DepartmentViewModel


@{
    ViewData["Title"] = "Edit";
    ViewBag.Action = "Edit";
}





<div calss="row justify-content align-items-center flex-column  ">

    <h1 class=" col-6 my-4">Edit Department </h1>


    <partial name="Partial/CreateEditDepartmentInputsPartial" />


</div>

@section ValidationScrips {
    <partial name="_ValidationScriptsPartial" />
}