@model int 



<td>
    <!--asp-controller="Department" -->
    <a asp-action="Details" asp-route-id="@Model" class="btn btn-warning">
        <i class=" fas fa-eye"></i>Details
    </a>
</td>
<td>
    <a   asp-action="Edit" asp-route-id="@Model" class=" btn btn-success">
        <i class=" fas fa-edit"></i>Update
    </a>
</td>
<td>
    <a asp-action="Delete" asp-route-id="@Model" class=" btn btn-danger">
    <i class=" fas fa-trash"></i>Delete
    </a>


    <!-- Button trigger modal -->
    <!-- Button trigger modal -->
   @*  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
        <i class=" fas fa-trash"></i>Delete
    </button> *@
</td>
